ul,li {
    list-style: none;
}
/* .web {
    white-space: nowrap;
} */
.web a{
    text-decoration: none!important;
    color: #000000;
}
.card-price-old {
    color: #939393;
    font-size: 13px;
    margin-left: 5px;
}

/* a.first.after{
    text-decoration: none!important;
    color: #000000!important;
} */
.header-banner{width: 100%;}
.header-banner .header-phone-contact a{
    font-size: 20px;
    color: #000084!important;
}

.header-banner .header-phone-contact i{
    font-size: 15px;
    color: #e74c3c;
    padding-right: 5px;
}
.header-banner .header-auth a{
    color: #000000;
}
.header-banner .header-auth .sign-up{
    border-right: 1px solid #c2c2c2;
    margin-right: 10px;
    padding-right: 10px;
}
.header-auth .dropdown-item.active, .dropdown-item:active {
    color: rgb(231, 76, 60)!important;
    text-decoration: none;
    font-weight: 500;
    /* background-color: rgba(231, 76, 60,0.1)!important; */
    
}
.header-auth .dropdown-item:focus, .dropdown-item:hover {
    color: rgb(231, 76, 60)!important;
    background-color: rgba(231, 76, 60,0.1)!important;
}
.header-banner .header-auth .header-cart{
    position: relative;
    font-size: 20px;
}
.header-banner .header-auth .header-cart i{
    color: #e74c3c;
}
.header-banner .header-auth .header-cart span{
    position: absolute;
    left: 20px;
    top: -2px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #000084;
    border-radius: 50%;
}
/* logo */
.logo{
    font-size: 35px!important;
    font-weight: 700;
    color: #e74c3c!important;
}
.show .offcanvas-body a{
    padding: 8px 5px!important;
}
.offcanvas .offcanvas-body a{
    color: #000000;
    padding: 0px 18px;
}
.offcanvas .offcanvas-body a{
    display: block;
    text-decoration: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: all .3s ease-in-out;
    margin: 0px 6px;
    white-space: nowrap;
}

.offcanvas .offcanvas-body a:hover{
    color: #e74c3c;
}
.offcanvas .offcanvas-body a,
.offcanvas .offcanvas-body a:visited, a:hover, a:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
}
/* active home */
.web .header-nav a.active{
    color: #e74c3c!important;
    text-decoration: none!important;
}



.header-nav .offcanvas .offcanvas-body a.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    position:absolute;
  }

  .header-nav .offcanvas .offcanvas-body a.after:after{
    bottom:-3px;
  }

  .header-nav .offcanvas .offcanvas-body a.after:after{
    height:2px;
    width:0;
    background:#e74c3c;
  }
  .header-nav .offcanvas .offcanvas-body a.first:after{
    left:0;
  }
  .header-nav .offcanvas .offcanvas-body a.after:hover:after{
    width:100%;
  }

.navbar-toggler{
    border: none!important;
}
button .navbar-toggler .collapsed{
    border:none!important;
    background: none!important;    
}
.navbar-toggler:focus{
    box-shadow: 0 0 0 0.25rem rgba(231, 76, 60,0.25)!important;
    border:none!important;
}
.navbar button span.navbar-toggler-icon {
    background-image: url("../../../assets/bars.png") !important;
}

.header-search {
    padding: 13px 0px;
}
.header-search .form-search{
    background: rgba(0,0,0,.2);
    border-radius: 30px;
}
.header-search .form-search button{
    background: none;
    border: none;
    padding: 2px 10px;
    border-radius: 50%;
    cursor: pointer;
    color: #e74c3c;
    font-size: 20px;
}
.header-search .form-search .btn:hover{
    border: none!important;
}
.header-search .form-search .btn:active{
    border: none!important;
    background-color: #e74c3c;
    color: #ffffff;
}
.header-search .form-search .form-control:focus {
    color: #212529!important;
    border-color: #e74c3c!important;
    border-radius: 50px!important;
    box-shadow: 0 0 0 0.25rem rgba(231, 76, 60,0.25)!important;
}
.header-search .form-search input.form-control{
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    padding: 0px 10px;
    color: #000;
}
.header-banner .top_divider {
    margin-bottom: -1px;
    border-top: 1px solid currentColor;
    opacity: .1;
}

.products-content .breadcrumb_background_sp {
    background-image: url(https://nhaxinh.com/wp-content/uploads/2021/10/elegance-bo-suu-tap-dep.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    padding: 180px 0 180px 0;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/* .header{
    position: absolute;
} */
/* .header-banner{
    position: relative;
} */
/* banner */
.banner{
    justify-content: center;
    background-position: top;
    background-size: cover;
}

.carousel .header-carousel-content{
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
}
.button:hover{
    color: #fff;
    font-weight: 600;
  }
.button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000000;
    -webkit-transform: scaleX(.3);
    transform: scaleX(.3);
    opacity: 0;
    transition: all .3s
  }
.button:hover::before{
    opacity: 1;
    background-color: #000000;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
  }
  
.button {
    position: relative;
    display: inline-block;
    padding: 6px 15px;
    line-height: normal;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
    color: #000;
    overflow: hidden;
    z-index: 1;
    background-color: #fff;
}
.all{
    float: right;
    color: #000;
}
.all:hover{
    float: right;
    color: #f94c43;
}
.product-img{
    text-align: center;
    position: relative;
    overflow: hidden;
}
.product-img .sale{
    position: absolute;
    font-size: 14px;
    line-height: 1;
    padding: 5px 10px;
    font-weight: bold;
    z-index: 9;
    top: 10px;
    left: 10px;
    color: #f94c43;
}
.product-img .change{
    position: relative;
    display: block;
}
.product-img .change:hover .img-top{
    display: inline;
    cursor: pointer;
}
.product-img .change .img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}
.product-title{
    text-align: center;
    padding-top: 10px;
}
.product-title a{
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-title a:hover{
    font-weight: 500;
    color: #000000;
}
.product-title p{
    color: #e74c3c;
}
/* Sort by */
.products-content .layered_subtitle {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
    padding: 20px 0 20px;
    cursor: pointer;
    position: relative;
}
.products-content .layered_subtitle span {
    font-weight: 600;
    font-size: 13px;
}
.products-content span.icon-control {
    position: relative;
    top: -2px;
    left: 5px;
    font-size: 8px;
}
.products-content .price div {
    padding-bottom: 15px;
}
.products-content .price .form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}
.products-content .color input {
    padding: 15px!important;
}

.products-content .color div {
    margin-right: 5px!important;
}

.img-hover-zoom {
    height: 270px;
    overflow: hidden;
    width: 420px;
    border: 2px solid rgba(255, 255, 255, .05);
    position: relative;
}
/* Blur-zoom Container */
.img-hover-zoom--blur img {
    transition: transform 1s, filter 2s ease-in-out;
    /* filter: blur(1px); */
    transform: scale(1.5);
    width: 400px;
    height: 250px;
}
/* The Transformation */
.img-hover-zoom--blur:hover img {
    /* filter: blur(0); */
    transform: scale(1.2);
    width: 400px;
    height: 250px;
}
.caption_banner {
    position: absolute;
    width: 100%;
    padding: 0 50px;
    bottom: 30px;
    color: #ffffff;
    z-index: 1;
}
.caption_banner span {
    font-size: 15px;
    font-weight: 400;
}
.caption_banner h3 {
    font-size: 23px;
    margin: 15px 0;
    color: #ffffff;
}
.overlay {
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

/* banner quang cao*/
.img-hover-zoom-1{
    height: 250px;
    width: 1230px;
    overflow: hidden;
  }
  .img-hover-zoom--blur-1 img {
    transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1.1);
    height: 250px;
    width: 1230px;
  }
   /* The Transformation */
   .img-hover-zoom--blur-1:hover img {
    transform: scale(1);
    height: 250px;
    width: 1230px;

  }

/* detail product */
.button_quantity {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}
.button_quantity {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}
.button_quantity .is-form.minus {
    border-radius: 4px 0 0 4px;
}
.button_quantity .is-form.plus {
    border-radius:0 4px 4px 0;
}
.button_quantity .is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}
.button_quantity .is-form:focus,.input-text:focus {
    outline:none;
}

.button_quantity .input-qty {
    background-color: #fff;
    height: 2.2rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

.button_quantity .input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    margin:0;
}
/* detail */
.detail_product_content{
    padding: 20px;
    background-color: #f3f3f3;
}
.detail_product_content .btn_add_cart{
        border: 1px solid #e74c3c;
        color: #e74c3c;
        background:none;
        padding: 10px;
        border-radius: 1px;
}
.detail_product_content .btn_add_cart:hover {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
.detail_product_content .form-check-input:checked {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.detail_product_content .form-check-input:hover {
    cursor: pointer;
    border-color: #0d6efd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cart{
    /* background-color: aliceblue; */
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cart .cart-title{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 35px;
}

.cart .accordion-item{
    border: none;
    width: fit-content;
}
.cart .accordion-header{
    width: 100px;
}
.cart .accordion-body{
    border-color: rgba(0,0,0,.09);
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 9%);
    padding: 0px;
}
.cart .accordion-button:focus {
    box-shadow: none!important;
    background:none;
    color: #000000;
}
.cart .accordion-button:not(.collapsed) {
    color: #000000;
    background: none;
    box-shadow: none;
}

.carousel .thumb.selected{
    border: 1px solid #000000!important;
}

/* footer */
.section_policy {
    margin: 30px 0px;
    padding: 30px 0;
    background: #f7941d;
}
.section_policy .giaohang {
    display: flex;
    justify-content: center;
}
.section_policy .giaohang i {
    font-size: 50px;
    color: #fff;
    padding-right: 15px;
}
.section_policy .giaohang .text {
    color: #fff;
}

footer{
    background-color: #333;
    color: #fff;
}
.footer-content #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #e74c3c;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: rgba(255, 121, 63, 1);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
    animation: pulse 2s infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
    }
  }
.footer-content .link-social a{
    color: #ffffff;
    font-size: 20px;
    padding: 5px 0px;
}
.footer-content .link-social a i:hover{
    color: #e74c3c;
    font-size: 22px;
}
.footer-content .about a{
    padding: 5px 0px;
    color: #ffffff;
}
.footer-content .about a:hover{
    color: #e74c3c;
    border-left: 3px solid #e74c3c;
    padding-left: 10px;
    font-weight: 600;
}
.footer-content .send-letter button{
    background-color: #e74c3c;
    color: #ffffff;
    padding: 5px 20px;
    border: none;
}
.account .title{
    font-weight: 500;
}
.account .account-sidebar a.active{
    color: rgb(231, 76, 60);
    background-color: rgba(231, 76, 60,0.1);
    padding: 8px 20px;
    border-radius: 2px;
    font-weight: 500;
}

.account .account-sidebar a:hover{
    color: rgb(231, 76, 60);
}

.account .focusError:focus{
    border-color: rgb(220,53,69)!important;
    box-shadow: 0 0 0 0.25rem rgba(220,53,69,.25)!important;
}
.account .focusError:invalid{
    border-color: rgb(220,53,69);
    box-shadow: none;
}


.order .order_history{
    font-size: 14px;
}
.order .order_history a{
    color: #000000;
    border-bottom: 1px solid #dddddd;

}
.order .order_history a.active{
    border-left: 2px solid #e74c3c;
    background-color: rgba(231, 76, 60,0.06);
}

.order .order_history a:hover{
    border-left: 2px solid #e74c3c;
}

